<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <title>Добавить объявление</title>
</head>

<body>

<div th:replace="~{navigation :: navigation('Добавить объявление')}"></div>

<div class="container-fluid text-left">
    <div class="row content">
        <div class="col-sm-8 text-left">
            <form th:action="@{/addnew/submit}" th:object="${adform}" method="post">
                <h1>Создание объявления пользователем '<span th:text="${userName}"></span>'</h1>
<!--                Блок ввода заголовка объявления-->
                <div class="form-group">
                    <label for="usr">Название</label>
                    <input type="text" class="form-control" id="usr" th:field="*{title}" placeholder="Заголовок"
                           required="required"/>
                </div>
<!--                Конец блока ввода заголовка-->
<!--                Начало блока выбора категории-->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Выберите категорию</label>
                    </div>
                    <select th:field="*{categoryId}" class="custom-select" id="inputGroupSelect01">
                        <option th:each="eachCategory : ${categories}"
                                th:value="${eachCategory.id}"
                                th:text="${eachCategory.categoryName}">Категории</option>
                    </select>
                </div>
<!--                Конец блока выбора категории-->
<!--                Начало блока ввода текста объявы-->
                <div class="form-group">
                    <label for="comment">Текст</label>
                    <textarea class="form-control" rows="20" id="comment" th:field="*{content}"
                              placeholder="Текст объявления" required="required"></textarea>
                </div>
<!--                Конец блока ввода текста-->
                <button type="submit" class="btn btn-success">Сохранить</button>
            </form>
            <hr/>
        </div>
    </div>
</div>
</body>
</html>