<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <title>Просмотр объявления</title>
</head>

<body>


<div class="container-fluid text-left">
    <div th:replace="~{navigation :: navigation('Объявления')}"></div>
    <div>
        <h1>Просмотр объявления</h1>
    </div>
    <hr/>
    <div>
        <h3 th:text="${selectedAd.title}"></h3>
        <p th:text="${selectedAd.content}"></p>
        <p th:text="'id: ' + ${selectedAd.id}"></p>
        <p th:text="'дата создания: ' + ${dateSelectedAd}"></p>
        <hr/>
    </div>
</div>

</body>
</html>