<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Просмотр объявления</title>
</head>

<body>

<nav class="navbar">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Статьи</a></li>
            <li><a th:href="@{/addnew}">Добавить объявление</a></li>
            <li><a th:href="@{/login}">Войти</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid text-center">
    <div>
        <h1>Просмотр объявления</h1>
    </div>
    <hr/>
    <div>
        <h3 th:text="${selectedAd.title}"></h3>
        <p th:text="${selectedAd.content}"></p>
        <p th:text="'id: ' + ${selectedAd.id}"></p>
        <p th:text="'дата создания: ' + ${dateSelectedAd}"></p>
        <hr/>
    </div>
</div>

</body>
</html>