<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <title>Авторизация</title>
</head>

<body>

<div th:replace="~{navigation :: navigation('Войти')}"></div>

<div class="container-fluid text-left">
    <div class="row content">
        <div class="col-sm-4 text-left">
            <form th:action="@{/authenticateTheUser}" method="post">
                <fieldset>
                    <h2>Введите данные</h2>
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Неверные Логин или Пароль
                        </div>
                    </div>
                    <div class="input-group">
                        <input id="username" type="text" class="form-control" name="username"
                               placeholder="Логин" required="required"/>
                    </div>
                    <br>
                    <div class="input-group">
                        <input id="password" type="password" class="form-control" name="password"
                               placeholder="Пароль" required="required"/>
                    </div>
                    <br>
                    <div>
                        <button type="submit" class="btn btn-success">Войти</button>
                    </div>

                </fieldset>
            </form>
            <hr/>
        </div>
    </div>
</div>

</body>
</html>