<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Главная страница</title>
</head>

<body>

<nav class="navbar">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Статьи</a></li>
            <li><a th:href="@{/addnew}">Добавить объявление</a></li>
            <li><a th:href="@{/login}">Войти</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid text-center">
    <div>
        <h1>Добро пожаловать на сайт</h1>
        <p>Сайт с объявлениями пользователей</p>
    </div>
    <hr/>
    <div th:each="message : ${messages}">
        <h3 th:text="${message.title}"></h3>
        <p th:text="${message.content}"></p>
        <hr/>
    </div>
</div>

</body>
</html>